.widget {
  background: #f8f8f8;
  padding: 0 1rem;
  border: 1px solid white;
  max-width: 60vh;
  min-width: 50vh;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.widget--header {
  flex: 1;
  display: flex;
  color: #cf5b82;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.widget--header .widget--header-title {
  border-bottom: 0.2rem solid;
}

.widget--footer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
}
